<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PlanejamentoFinanceiro.Properties.Settings.PLANFINConnectionString"
            connectionString="Data Source=DESKTOP-IK3RJ21;Initial Catalog=PLANFIN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>